.side__main
  .side__header
    .side__header--box
      %p.side__header--box__user-name
        アカウント名
      %ul.side__header--box__menu
        %li.side__header--box__menu__new
          = link_to "#" do
            %i.far.fa-edit
        %li.side__header--box__menu__edit
          = link_to "##" do
            %i.fas.fa-cog
  
  .group__list
    = link_to "練習1" do
      .group
        %p.group__group--name
          練習1
        %p.group__latest--message
          最後のメッセージ出力
    = link_to "練習2" do
      .group
        %p.group__group--name
          練習2
        %p.group__latest--message
          最後のメッセージ出力2